$max-width: 1440px;
$max-height: 1024px;
// $border-radius: 3px;
// $finger-size: 40px;
// $gutter: 20px;

// //
$color-almost-white: #fffdfa;
$color-dark-space-blue: #00001a;
$color-gunmetal: #5e607a;
$color-light-vermillion: #f15d51;
$color-silver: #c5c6ce;
$color-yellow: #e9aa52;

// //
$font-family: "Inter", sans-serif;
