body {
  font-family: $font-family;
  @include font-heading-body;
  max-width: 1440px;
  width: 1110px;
  height: 100vh;
  margin: 0 auto;
  background-color: $color-almost-white;
}

.container {
  width: 100%;
  height: 100%;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
}
